<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
	
	<add name="con" connectionString="Data Source=ERPSERVER\ERPSQLSERVER;Initial Catalog=LSERP_New;Timeout=1000;Max Pool Size=10000;User ID=sa;Password=Mount@54321" providerName="System.Data.SqlClient" />
	
	<!--<add name="con" connectionString="Data Source=.;Initial Catalog=LSERP_New;Timeout=1000;Max Pool Size=10000; providerName="System.Data.SqlClient" />-->
		<!--<add name="con" connectionString="server=ERPSERVER;Initial Catalog=LSERP_New;Max Pool Size=30000;" /> -->

	</connectionStrings>
	<system.web>
		<sessionState mode="InProc" cookieless="false" timeout="10000" />
		<compilation debug="true" targetFramework="4.0" />
		<!--2097151-->
		<httpRuntime executionTimeout="999999" maxRequestLength="100000" maxUrlLength="10999" maxQueryStringLength="2097151" requestValidationMode="2.0" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<customErrors mode="Off" redirectMode="ResponseRewrite">
			<!--<error statusCode="401" redirect="~/ErrorPages/Accesdenied.html"/>
      <error statusCode="404" redirect="~/ErrorPages/Pagenotfound.html"/>
      <error statusCode="500" redirect="~/ErrorPages/Error.html"/>-->
		</customErrors>
	</system.web>
	<appSettings>
		<add key="Url" value="http://192.168.1.82/lserpnew" />
		<add key="EmployeeDocs" value="http://183.82.33.21/LSERPDocs/EmployeeDocs/" />
		<add key="EmployeeDocsSavePath" value="f:\liveimages\LSERP\EmployeeDocs\" />
		<add key="CustomerEnquirySavePath" value="f:\liveimages\LSERP\EnquiryDocs\" />
		<add key="PurchaseDocsSavePath" value="f:\liveimages\LSERP\PurchaseDocs\" />
		<add key="PurchaseDocsHttpPath" value="http://183.82.33.21/LSERPDocs/PurchaseDocs/" />
		<add key="CommunicationSavePath" value="f:\liveimages\LSERP\CommunicationDocs\" />
		<add key="CommunicationHttpPath" value="http://183.82.33.21/LSERPDocs/CommunicationDocs/" />
		<add key="SupplierDocsSavepath"  value="f:\liveimages\LSERP\SupplierDocs\"/>
		<add key="SupplierChainDocsSavepath"  value="f:\liveimages\LSERP\SupplierChainDocsSavepath\"/>
		<add key="SupplierChainDocsHttpPath"  value="f:\liveimages\LSERP\SupplierChainDocsSavepath\"/>
		<add key="SupplierDocsHttpPath" value="http://183.82.33.21/LSERPDocs/SupplierDocs/"/>
		<add key="StoresDocsSavePath" value="f:\liveimages\LSERP\StoresDocs\" />
		<add key="StoresDocsHttpPath" value="http://183.82.33.21/LSERPDocs/StoresDocs/" />
		<add key="CustomerEnquiry" value="http://183.82.33.21/LSERPDocs/EnquiryDocs/" />
		<add key="GemBoxKey" value="E65J-C0H5-L05Y-JIBJ" />
		<add key="ExcelSavePath" value="f:/liveimages/LSERP/ExcelFiles/" />
		<add key="PDFSavePath" value="f:/liveimages/LSERP/PDFFiles/" />
		<add key="ExcelPath" value="http://183.82.33.21/LSERPDocs/ExcelFiles/" />
		<add key="PDFPath" value="http://183.82.33.21/LSERPDocs/LS_PDF/" />
		<add key="MPDocsSavePath" value="f:\liveimages\LSERP\MaterialPLanningDocs\" />
		<add key="MPHttpPath" value="http://183.82.33.21/LSERPDocs/MaterialPLanningDocs/" />
		<add key="FTPPath" value="F:\TestImages\FTP Path\EPLUSMobile\LSERP\" />
		<add key="WorkOrderIndentSavePath"  value="f:\liveimages\LSERP\WorkOrderIndent\"/>
		<add key="WorkOrderIndentHttpPath" value="http://183.82.33.21/LSERPDocs/WorkOrderIndent/"/>
		<add key="MRNDocsSavePath"  value="f:\liveimages\LSERP\MRNDocs\"/>
		<add key="MRNDocsHttpPath" value="http://183.82.33.21/LSERPDocs/MRNDocs/"/>
		<add key="PurchaseIndentSavePath"  value="f:\liveimages\LSERP\PurchaseIndent\"/>
		<add key="PurchaseIndentHttpPath" value="http://183.82.33.21/LSERPDocs/PurchaseIndent/"/>
		<add key="JobOrderDocsSavePath"  value="f:\liveimages\LSERP\JobOrderDocs\"/>
		<add key="JobOrderDocsHttpPath" value="http://183.82.33.21/LSERPDocs/JobOrderDocs/"/>
		<add key="QualityReportSavePath"  value="f:\liveimages\LSERP\QualityReportDocs\"/>
		<add key="QualityReportHttpPath" value="http://183.82.33.21/LSERPDocs/QualityReportDocs/"/>

		<add key="ContractorPaymentSavePath"  value="f:\liveimages\LSERP\ContractorBillDocs\"/>
		<add key="ContractorPaymentHttpPath" value="http://183.82.33.21/LSERPDocs/ContractorBillDocs/"/>
		<add key="WPSSavepath"  value="f:\liveimages\LSERP\WPSDocs\"/>
		<add key="WPSHttpPath" value="http://183.82.33.21/LSERPDocs/WPSDocs/"/>
		<add key="InvoiceDocumentSavePath"  value="f:\liveimages\LSERP\InvoiceDocsSavePath\"/>
		<add key="InvoiceDocumentHttpPath" value="http://183.82.33.21/LSERPDocs/InvoiceDocsSavePath/"/>
		<add key="PriceEstimationSavepath"  value="f:\liveimages\LSERP\PriceEstimationSavepath\"/>
		<add key="PriceEstimationHttppath" value="http://183.82.33.21/LSERPDocs/PriceEstimationSavepath/"/>
		<add key="RFPDocumentArchiveSavePath"  value="f:\liveimages\LSERP\RFPDocumentArchiveSavePath\"/>
		<add key="RFPDocumentArchiveHTTPPath" value="http://183.82.33.21/LSERPDocs/RFPDocumentArchiveSavePath/"/>

		<add key="JobCardStatusAttachementSavePath"  value="f:\liveimages\LSERP\JobCardStatusAttachementSavePath\"/>
		<add key="JobCardStatusAttachementHTTPPath" value="http://183.82.33.21/LSERPDocs/JobCardStatusAttachementSavePath/"/>
		
		<!--<add key="ContractorPaymentSavePath"  value="f:\liveimages\LSERP\ContractorBillDocs\"/>
	  <add key="ContractorPaymentHttpPath" value="http://183.82.33.21/LSERPDocs/ContractorBillDocs/"/>-->

	</appSettings>

	<system.webServer>
		<!--<handlers>
      -->
		<!--<add name="ScriptHandlerFactory" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>-->
		<!--      
    </handlers>-->
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
		</staticContent>
		<defaultDocument>
			<files>
				<add value="pages/login.aspx" />
			</files>
		</defaultDocument>
		<!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="UrlRoutingHandler" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxUrl="10999" maxAllowedContentLength="100000000" maxQueryString="9999" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>

