<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="server=103.27.86.204;Initial Catalog=LSERP;User ID=sa;Password=1908@innova;Max Pool Size=30000;" />
    <!--<add name="con" connectionString="server=103.27.86.204;Initial Catalog=LSERP_Dev;User ID=sa;Password=1908@innova;Max Pool Size=30000;" />-->
    <!--<add name="con" connectionString="server=103.27.86.204;Initial Catalog=LSER_demo;User ID=sa;Password=1908@innova;Max Pool Size=30000;" />-->
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="80" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="999" maxRequestLength="2097151" requestValidationMode="2.0" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <!--<error statusCode="401" redirect="~/ErrorPages/Accesdenied.html"/>
      <error statusCode="404" redirect="~/ErrorPages/Pagenotfound.html"/>
      <error statusCode="500" redirect="~/ErrorPages/Error.html"/>-->
    </customErrors>
  </system.web>
  <appSettings>
    <add key="Url" value="https://innovasphere.com/LSERPDocs" />
    <add key="EmployeeDocs" value="https://innovasphere.com/LSERPDocsDocs/EmployeeDocs/" />
    <add key="EmployeeDocsSavePath" value="d:\liveimages\LSERP\EmployeeDocs\" />
    <add key="CustomerEnquirySavePath" value="d:\liveimages\LSERP\EnquiryDocs\" />
    <add key="PurchaseDocsSavePath" value="d:\liveimages\LSERP\PurchaseDocs\" />
    <add key="PurchaseDocsHttpPath" value="https://innovasphere.com/LSERPDocs/PurchaseDocs/" />
    <add key="CommunicationSavePath" value="d:\liveimages\LSERP\CommunicationDocs\" />
    <add key="CommunicationHttpPath" value="https://innovasphere.com/LSERPDocs/CommunicationDocs/" />
    <add key="StoresDocsSavePath" value="d:\liveimages\LSERP\StoresDocs\" />
    <add key="StoresDocsHttpPath" value="https://innovasphere.com/LSERPDocs/StoresDocs/" />
    <add key="CustomerEnquiry" value="https://innovasphere.com/LSERPDocs/EnquiryDocs/" />
    <add key="GemBoxKey" value="E65J-C0H5-L05Y-JIBJ" />
    <add key="ExcelSavePath" value="d:/liveimages/LSERP/ExcelFiles/" />
    <add key="PDFSavePath" value="d:/liveimages/LSERP/PDFFiles/" />
    <add key="ExcelPath" value="https://innovasphere.com/LSERPDocs/ExcelFiles/" />
    <add key="PDFPath" value="https://innovasphere.com/LSERPDocs/LS_PDF/" />
    <add key="MPDocsSavePath" value="d:\liveimages\LSERP\MaterialPLanningDocs\" />
    <add key="MPHttpPath" value="https://innovasphere.com/LSERPDocs/MaterialPLanningDocs/" />
    <add key="FTPPath" value="F:\TestImages\FTP Path\EPLUSMobile\LSERP\" />
    <add key="WorkOrderIndentSavePath"  value="d:\liveimages\LSERP\WorkOrderIndent\"/>
    <add key="WorkOrderIndentHttpPath" value="https://innovasphere.com/LSERPDocs/WorkOrderIndent/"/>
    <add key="MRNDocsSavePath"  value="d:\liveimages\LSERP\MRNDocs\"/>
    <add key="MRNDocsHttpPath" value="https://innovasphere.com/LSERPDocs/MRNDocs/"/>
    <add key="PurchaseIndentSavePath"  value="d:\liveimages\LSERP\PurchaseIndent\"/>
    <add key="PurchaseIndentHttpPath" value="https://innovasphere.com/LSERPDocs/PurchaseIndent/"/>
    <add key="JobOrderDocsSavePath"  value="d:\liveimages\LSERP\JobOrderDocs\"/>
    <add key="JobOrderDocsHttpPath" value="https://innovasphere.com/LSERPDocs/JobOrderDocs/"/>
    <add key="QualityReportSavePath"  value="d:\liveimages\LSERP\QualityReportDocs\"/>
    <add key="QualityReportHttpPath" value="https://innovasphere.com/LSERPDocs/QualityReportDocs/"/>

    <add key="ContractorPaymentSavePath"  value="d:\liveimages\LSERP\ContractorBillDocs\"/>
    <add key="ContractorPaymentHttpPath" value="https://innovasphere.com/LSERPDocs/ContractorBillDocs/"/>

  </appSettings>

  <system.webServer>
    <!--<handlers>
      -->
    <!--<add name="ScriptHandlerFactory" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>-->
    <!--      
    </handlers>-->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <defaultDocument>
      <files>
        <add value="pages/login.aspx" />
      </files>
    </defaultDocument>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
  </system.webServer>
</configuration>

