<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="server=103.27.86.204;Initial Catalog=LSERP;User ID=sa;Password=1908@innova;Max Pool Size=30000;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
		  </protocols>
	  </webServices>
  </system.web>

    <appSettings>
      <add key="Url" value="https://innovasphere.com/LSERP" />
      <add key="EmployeeDocs" value="https://innovasphere.com/LSERP/EmployeeDocs" />
      <add key="GemBoxKey" value="E65J-C0H5-L05Y-JIBJ" />
    </appSettings>
  <system.webServer>
	  <staticContent>
		  <remove fileExtension=".woff" />
		  <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		  <remove fileExtension=".woff2" />
		  <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
	  </staticContent>
    <defaultDocument>
      <files>
        <add value="~/pages/login.aspx" />
      </files>
    </defaultDocument>
	  <rewrite>
		  <rules>
			  <clear />
			  <rule name="Redirect to https" stopProcessing="true">
				  <match url=".*" />
				  <conditions>
					  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
				  </conditions>
				  <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
			  </rule>
		  </rules>
	  </rewrite>
	  <modules runAllManagedModulesForAllRequests="true" />
	  <handlers>
		  <remove name="UrlRoutingHandler" />
	  </handlers>
  </system.webServer>
</configuration>

